name: Android Build & Sign APK

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Release APK
      run: ./gradlew assembleRelease

    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
        alias: ${{ secrets.KEY_ALIAS }}
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        # כאן אנחנו מכריחים אותו להסתכל על המיקום האמיתי של ה-SDK בשרת
        ANDROID_HOME: /usr/local/lib/android/sdk
        BUILD_TOOLS_VERSION: "34.0.0"

    - name: Upload Signed APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release-signed
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        # שימוש בנתיבים הסטנדרטיים של GitHub Actions
        ANDROID_HOME: ${{ env.ANDROID_SDK_ROOT }}
        # הגדרה להשתמש בגרסה 30.0.3 ומעלה שקיימת תמיד בשרתי GitHub
        # זה מונע מהמערכת לחפש את גרסה 29.0.3 הישנה
        BUILD_TOOLS_VERSION: "30.0.3"

    - name: Upload Signed APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release-signed
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}
